.devcontainer/
.env
.github/
.venv/
.vscode/
.cache/
__pycache__/
*.pyc
assets/
.archive/
docs/
docs-build/
site/
.markdownlint.yaml
.mise.toml
.python-version
.pre-commit-config.yaml
.gitignore
.cursorrules
.editorconfig
