# For flake's devShell:
use flake .



# Below are env vars:

#
# Required
#

# If in production mode:

# DEV=False
export PROD_DATABASE_URL=""
export PROD_TOKEN=""

# If in development mode:

# DEV=True
export DEV_DATABASE_URL=""
export DEV_TOKEN=""

#
# Optional
#

export INFLUXDB_TOKEN=""
export INFLUXDB_URL=""
export INFLUXDB_ORG=""

export SENTRY_URL=""

export PROD_COG_IGNORE_LIST="rolecount,mail" # These are ATL specific cogs that are not needed in Tux unless you are ATL
export DEV_COG_IGNORE_LIST=

export GITHUB_APP_ID=
export GITHUB_CLIENT_ID=""
export GITHUB_CLIENT_SECRET=""
export GITHUB_PUBLIC_KEY=""
export GITHUB_INSTALLATION_ID=

export GITHUB_PRIVATE_KEY_BASE64=""

export GITHUB_REPO_URL=
export GITHUB_REPO_OWNER=
export GITHUB_REPO=

export MAILCOW_API_KEY=
export MAILCOW_API_URL=