# Poetry Configuration
[tool.poetry]
authors = ["kaizen <admin@kaizen.wtf>"]
description = "All Things Linux Discord Bot"
name = "tux"
readme = "README.md"
repository = "https://github.com/allthingslinux/tux"
version = "0.1.0"

[tool.poetry.dependencies]
aioconsole = "^0.7.0"
aiopath = "0.6.11"
asynctempfile = "^0.5.0"
dateparser = "^1.2.0"
discord-py = "^2.3.2"
loguru = "^0.7.2"
mypy = "^1.9.0"
pre-commit = "^3.6.0"
prisma = "^0.13.1"
psutil = "^5.9.8"
pynacl = "^1.5.0"
pyright = "^1.1.343"
python = "^3.11"
python-dotenv = ">=1.0.0"
ruff = "^0.3.4"
sentry-sdk = {extras = ["loguru"], version = "^1.44.1"}
vulture = "^2.11"

[tool.poetry.scripts]
pyright = "pyright:run"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core"]

# Ruff Configuration
[tool.ruff]
exclude = [
  ".bzr",
  ".direnv",
  ".eggs",
  ".git",
  ".git-rewrite",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".ruff_cache",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "examples",
  "tmp",
  "tests",
]

indent-width = 4
line-length = 100
target-version = "py311"

# Ruff Linting Configuration
[tool.ruff.lint]
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
fixable = ["ALL"]
ignore = ["E501", "N814"]
select = [
  "E",
  "F",
  "UP",
  "B",
  "SIM",
  "I",
  "N",
  "ASYNC",
  "A",
  "C4",
  "DTZ",
  "EM",
  "PIE",
  "T20",
  "Q",
  "RET",
  "PTH",
  "R",
  "TRY",
  "RUF",
]
unfixable = []

# Ruff Formatting Configuration
[tool.ruff.format]
docstring-code-format = true
docstring-code-line-length = "dynamic"
indent-style = "space"
line-ending = "auto"
quote-style = "double"
skip-magic-trailing-comma = false

# Pyright Configuration
[tool.pyright]
defineConstant = {DEBUG = true}
exclude = [
  ".direnv",
  ".eggs",
  ".git",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "examples",
  "tests",
]
include = ["tux"]
pythonPlatform = "Linux"
pythonVersion = "3.11"
typeCheckingMode = "strict"
venv = ".venv"
venvPath = "."
# reportMissingImports = true
# reportMissingParameterType = false
# reportMissingTypeStubs = false
# reportUnknownArgumentType = false
# reportUnknownMemberType = false
# reportUnknownParameterType = false

[tool.vulture]
exclude = [
  ".direnv",
  ".eggs",
  ".git",
  ".hg",
  ".ipynb_checkpoints",
  ".mypy_cache",
  ".nox",
  ".pants.d",
  ".pyenv",
  ".pytest_cache",
  ".pytype",
  ".svn",
  ".tox",
  ".venv",
  ".vscode",
  "__pypackages__",
  "_build",
  "buck-out",
  "build",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "examples",
  "tests",
]
# paths = ["tux"]
# ignore_decorators = ["@app.route", "@require_*"]
# ignore_names = ["visit_*", "do_*"]
# make_whitelist = true
# min_confidence = 100
# sort_by_size = true
# verbose = true
