/**
 * mkdocstrings Documentation Styling
 * Specific styling for mkdocstrings-generated documentation
 */

/* ============================================================
   mkdocstrings Documentation Styling
   ============================================================ */

article .doc code {
  background: transparent;
  padding: 0;
}

article .doc details {
  margin-top: 0;
}

article .doc .doc-children {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article .doc details+.doc-children {
  margin-top: 1rem;
}

article .doc .doc-contents {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

article .doc .doc-contents:empty {
  margin-top: 0;
}

article .doc .doc-contents.first {
  margin-top: 1.5rem;
}

article .typography>div:first-child>h2 {
  margin-top: 0;
}

article .doc .doc-contents p {
  color: var(--color-muted-foreground);
  font-size: 0.875rem;
  margin-top: 0;
}

article .doc .doc-contents h3 {
  font-size: 1.125rem;
}

article .doc .doc-contents h3 code {
  font-size: 1rem;
}

article .doc .doc-contents code {
  border-radius: 0;
}

article .doc .doc-contents ul {
  margin-top: 0;
}

article .doc .doc-contents details {
  padding: 0.5rem 0;
}

article .doc .doc-contents table:not(.codehilitetable) {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  width: 100%;
}

article .doc .doc-contents table th {
  font-weight: 500;
}

article .doc .doc-contents .doc-class-bases {
  color: var(--color-foreground);
}

article .doc .doc-contents .doc-section-title {
  color: var(--color-foreground);
  font-weight: 600;
}

article .doc .doc-object {
  padding: 1.25rem;
  background: var(--color-card);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
}

article .doc .doc-object.doc-function {
  background: rgba(41, 37, 36, 0.5);
}

article .doc .doc-object h2,
article .doc .doc-object h3,
article .doc .doc-object h4 {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

article .doc .doc-object .doc-labels {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

article .doc .doc-object .doc-contents {
  color: var(--color-muted-foreground);
  font-size: 0.875rem;
}

article .doc .doc-object .doc-contents ul>li {
  margin-top: 0.25rem;
}

article .doc .doc-object code {
  margin-top: 0;
}

article .doc small code {
  font-weight: 400;
  color: var(--color-muted-foreground);
}

article .doc .doc-class-bases code {
  font-weight: 500;
}

/* ============================================================
   Additional mkdocstrings Patterns (from examples)
   ============================================================ */

/* Indentation for nested content */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 0.05rem solid var(--md-typeset-table-color);
}

/* External link indicators */
a.external::after,
a.autorefs-external::after {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.25 15.5a.75.75 0 00.75-.75v-9a.75.75 0 00-.75-.75h-9a.75.75 0 000 1.5h7.19L6.22 16.72a.75.75 0 101.06 1.06L17.5 7.56v7.19c0 .414.336.75.75.75z"></path></svg>');
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 1em;
  width: 1em;
  background-color: currentColor;
}

a.external:hover::after,
a.autorefs-external:hover::after {
  background-color: var(--md-accent-fg-color);
}

/* Avoid breaking parameter names in table cells */
td code {
  word-break: normal !important;
}

/* Hide parameters in ToC */
li.md-nav__item:has(> a[href*="("]) {
  display: none;
}

/* Tree-like output for backlinks */
.doc-backlink-list {
  --tree-clr: var(--md-default-fg-color);
  --tree-font-size: 1rem;
  --tree-item-height: 1;
  --tree-offset: 1rem;
  --tree-thickness: 1px;
  --tree-style: solid;
  display: grid;
  list-style: none !important;
}

.doc-backlink-list li>span:first-child {
  text-indent: 0.3rem;
}

.doc-backlink-list li {
  padding-inline-start: var(--tree-offset);
  border-left: var(--tree-thickness) var(--tree-style) var(--tree-clr);
  position: relative;
  margin-left: 0 !important;
}

.doc-backlink-list li:last-child {
  border-color: transparent;
}

.doc-backlink-list li::before {
  content: '';
  position: absolute;
  top: calc(var(--tree-item-height) / 2 * -1 * var(--tree-font-size) + var(--tree-thickness));
  left: calc(var(--tree-thickness) * -1);
  width: calc(var(--tree-offset) + var(--tree-thickness) * 2);
  height: calc(var(--tree-item-height) * var(--tree-font-size));
  border-left: var(--tree-thickness) var(--tree-style) var(--tree-clr);
  border-bottom: var(--tree-thickness) var(--tree-style) var(--tree-clr);
}

.doc-backlink-list li::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: var(--tree-clr);
  top: calc(var(--tree-item-height) / 2 * 1rem);
  left: var(--tree-offset);
  translate: calc(var(--tree-thickness) * -1) calc(var(--tree-thickness) * -1);
}

/* ============================================================
   mkdocstrings-python Specific Patterns
   ============================================================ */

/* Avoid breaking parameter names, etc. in table cells */
.doc-contents td code {
  word-break: normal !important;
}

/* No line break before first paragraph of descriptions */
.doc-md-description,
.doc-md-description>p:first-child {
  display: inline;
}

/* No text transformation from Material for MkDocs for H5 headings */
.md-typeset h5 .doc-object-name {
  text-transform: none;
}

/* Max width for docstring sections tables */
.doc .md-typeset__table,
.doc .md-typeset__table table {
  display: table !important;
  width: 100%;
}

.doc .md-typeset__table tr {
  display: table-row;
}

/* Defaults in Spacy table style */
.doc-param-default,
.doc-type_param-default {
  float: right;
}

/* Parameter headings must be inline, not blocks */
.doc-heading-parameter,
.doc-heading-type_parameter {
  display: inline;
}

/* Default font size for parameter headings */
.md-typeset .doc-heading-parameter {
  font-size: inherit;
}

/* Prefer space on the right, not the left of parameter permalinks */
.doc-heading-parameter .headerlink,
.doc-heading-type_parameter .headerlink {
  margin-left: 0 !important;
  margin-right: 0.2rem;
}

/* Backward-compatibility: docstring section titles in bold */
.doc-section-title {
  font-weight: bold;
}

/* Backlinks crumb separator */
.doc-backlink-crumb {
  display: inline-flex;
  gap: 0.2rem;
  white-space: nowrap;
  align-items: center;
  vertical-align: middle;
}

.doc-backlink-crumb:not(:first-child)::before {
  background-color: var(--md-default-fg-color--lighter);
  content: "";
  display: inline;
  height: 1rem;
  --md-path-icon: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6z"/></svg>');
  -webkit-mask-image: var(--md-path-icon);
  mask-image: var(--md-path-icon);
  width: 1rem;
}

.doc-backlink-crumb.last {
  font-weight: bold;
}

/* Symbols in Navigation and ToC - use design tokens */
:root,
:host,
[data-md-color-scheme="custom"] {
  --doc-symbol-parameter-fg-color: var(--tn-purple);
  --doc-symbol-type_parameter-fg-color: var(--tn-purple);
  --doc-symbol-attribute-fg-color: var(--tn-orange);
  --doc-symbol-function-fg-color: var(--tn-blue);
  --doc-symbol-method-fg-color: var(--tn-blue);
  --doc-symbol-class-fg-color: var(--color-info);
  --doc-symbol-type_alias-fg-color: var(--color-info);
  --doc-symbol-module-fg-color: var(--tn-green);

  --doc-symbol-parameter-bg-color: rgba(187, 154, 247, 0.1);
  --doc-symbol-type_parameter-bg-color: rgba(187, 154, 247, 0.1);
  --doc-symbol-attribute-bg-color: rgba(255, 158, 100, 0.1);
  --doc-symbol-function-bg-color: rgba(122, 162, 247, 0.1);
  --doc-symbol-method-bg-color: rgba(122, 162, 247, 0.1);
  --doc-symbol-class-bg-color: rgba(125, 207, 255, 0.1);
  --doc-symbol-type_alias-bg-color: rgba(125, 207, 255, 0.1);
  --doc-symbol-module-bg-color: rgba(158, 206, 106, 0.1);
}

code.doc-symbol {
  border-radius: 0.1rem;
  font-size: 0.85em;
  padding: 0 0.3em;
  font-weight: bold;
}

code.doc-symbol-parameter,
a code.doc-symbol-parameter {
  color: var(--doc-symbol-parameter-fg-color);
  background-color: var(--doc-symbol-parameter-bg-color);
}

code.doc-symbol-parameter::after {
  content: "param";
}

code.doc-symbol-type_parameter,
a code.doc-symbol-type_parameter {
  color: var(--doc-symbol-type_parameter-fg-color);
  background-color: var(--doc-symbol-type_parameter-bg-color);
}

code.doc-symbol-type_parameter::after {
  content: "type-param";
}

code.doc-symbol-attribute,
a code.doc-symbol-attribute {
  color: var(--doc-symbol-attribute-fg-color);
  background-color: var(--doc-symbol-attribute-bg-color);
}

code.doc-symbol-attribute::after {
  content: "attr";
}

code.doc-symbol-function,
a code.doc-symbol-function {
  color: var(--doc-symbol-function-fg-color);
  background-color: var(--doc-symbol-function-bg-color);
}

code.doc-symbol-function::after {
  content: "func";
}

code.doc-symbol-method,
a code.doc-symbol-method {
  color: var(--doc-symbol-method-fg-color);
  background-color: var(--doc-symbol-method-bg-color);
}

code.doc-symbol-method::after {
  content: "meth";
}

code.doc-symbol-class,
a code.doc-symbol-class {
  color: var(--doc-symbol-class-fg-color);
  background-color: var(--doc-symbol-class-bg-color);
}

code.doc-symbol-class::after {
  content: "class";
}

code.doc-symbol-type_alias,
a code.doc-symbol-type_alias {
  color: var(--doc-symbol-type_alias-fg-color);
  background-color: var(--doc-symbol-type_alias-bg-color);
}

code.doc-symbol-type_alias::after {
  content: "type";
}

code.doc-symbol-module,
a code.doc-symbol-module {
  color: var(--doc-symbol-module-fg-color);
  background-color: var(--doc-symbol-module-bg-color);
}

code.doc-symbol-module::after {
  content: "mod";
}

.doc-signature .autorefs {
  color: inherit;
  border-bottom: 1px dotted currentcolor;
}
